html,
body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  width: auto;
}
.headline {
  margin-left: 30px;
}
.heading {
  margin-left: 1px;
}
.filter {
  margin-left: 30px;
}
.activities {
  margin-left: 30px;
}
h2 {
  margin-left: 30px;
  font-family:  Raleway Extralight;
  font-size: 15px;
}
h3 {
font-family: Raleway;
}
h1 {
  font-size: 21px;
  display: flex;
}
p {
  font-family: Raleway Extralight;
  display: inline;
  font-size: 16px;
  padding-top: 5px;
}
h4 {
  font-family: Raleway;
  font-size: 16px;
  color: #0096FF;
  margin-right: 30px;
  margin-left: 10px;
}
.signup {
  display: flex;
  width: max-content;
}
h5 {
  font-family: Raleway; 
  color: #0096FF;
  font-weight: bolder ;
  font-size: 16px;
  padding-top: 12px;
  width: max-content;
}
h6 {
font-size: 18px;
}
.heading-wrapper {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.title-container {
  display: flex;
  width: 80%;
  height: fit-content;
  margin-left: 30px;
}

.title-image-container img {
  display: flex;
  margin-right: 650px;
  margin-top: 20px;
}
.title-link-container {
  display: flex;
  margin-top: 20px;
}
.signup {
  display: flex;
margin-left: 2px;
width: max-content;
}
.accommodations-link-container {
  display: flex;
}
/*search tag*/

.search-container {
  display: flex;
  height: 60px;
  width: auto;
  padding-bottom: 30px;
  margin-top: 10px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: px;
  background: rgb(232 238 249);
  height: 100%;
  min-width: 50px;
  border-radius: 22px 0 0 22px;
  margin-left: 30px;
}
.left-container img{
  height: 20px;
}
.middle-container {
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  border-top: 1px solid rgb(232 238 249);
  border-bottom: 1px solid rgb(232 238 249);
  padding-left: 30px;
  padding-top: 15px;}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color:   #0065FC;
  border-radius: 0 22px 22px  0;
  min-width: 90px;
}

/* Filter tag */

.filter-tag_container { 
  display: flex;
  height: 75px;
}

.filter-title-ontainer {
  background: saddlebrown;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 15px;
}
.tag1_main-wrapper {
  display: flex;
  border: 2px solid lightgray;
  border-left: none;
  align-items: center;
  border-radius: 25px;
  padding-right: 25px;
  margin-right:10px;
  margin-bottom: 25px;
  margin-left: 20px;
  max-width: fit-content;
}

.tag1_image-container {
  display: flex;
  justify-content: center;
  align-items: left;
  background: #deebff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.tag1_text-container {
  width: max-content;
}
.tag3_main-wrapper {
  display: flex;
  border: 2px solid lightgray;
  border-left: none;
  align-items: center;
  border-radius: 25px;
  padding-right: 25px;
  margin-right:10px;
  margin-bottom: 25px;
  margin-left: 20px;
  max-width: fit-content;
}

.tag3_image-container {
  display: flex;
  justify-content: center;
  align-items: left;
  background: #deebff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.tag3_text-container {
  width: max-content;
}
i {
  margin-top: 15px;
  margin-left: 2px;
color: blue;
}
/*info-container*/
.info-container {
  margin-left: 30px;
  display: flex;
  height: 50px;
  width: 100%
  
}
.image-info-container img {
  display: flex;
  width: fit-content;
  font-family: Raleway Extralight;
  font-size: 15px;
  text-indent: 10px;
  height: 40px;
  margin-top: 10px;
  margin-right: 5px;
}
.info-text-container {
  display: flex;
}
/*accommodation container*/
.accommodations-container {
  background: #F2F2F2;
  width: 875px;
  height: 100%;
  padding: 30px;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.left_accommodations-container__cards-container {
  display:flex;
}
.main-page-wrapper {
  display: flex;
}

.card-1__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 10px;
}
.card-1__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
}

.card-1__bottom-container h3 {
  margin:3px 0;
  font-size: 16px;
}

.card-1__bottom-container p {
  margin: 0;
  font-size: 12px;
}

.card-1_star-container img {
  height: 13px;
}

.card-2__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 10px;
}
  

.card-2__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
}

.card-2__bottom-container h3 {
  margin:3px 0;
  font-size: 16px;
}

.card-2__bottom-container p {
  margin: 0;
  font-size: 12px;
}

.card-2_star-container img {
  height: 13px;
}

.card-3__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 10px;
}
.card-3__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
}

.card-3__bottom-container h3 {
  margin: 3px 0;
  font-size: 16px;
}

.card-3__bottom-container p {
  margin: 0;
  font-size: 12px;
}

.card-3_star-container img {
  height: 13px;
}

.accommodations-container {
  background: #F2F2F2;
  width: 875px;
  height: 100%;
  padding: 30px;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.left_accommodations-container__cards-container {
  display: flex;
}

/* Card Type 2 */

.card-4__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card-4__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
  margin-bottom: 4px;
}

.card-4__bottom-container h3 {
  margin: 3px 0;
  font-size: 16px;
}

.card-4__bottom-container p {
  margin: 0;
  font-size: 12px;
}

.card-4_star-container img {
  height: 13px;
}

.card-5__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card-5__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
  margin-bottom: 4px;
}

.card-5__bottom-container h3 {
  margin: 3px 0;
  font-size: 16px;
}

.card-5__bottom-container p {
  margin: 0;
  font-size: 12px;
}

.card-5_star-container img {
  height: 13px;
}

.card-6__main-wrapper {
  justify-content: center;
  background: #fff;
  padding: 5px 5px 15px 5px;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  }

.card-6__image-container img {
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 18px 18px 0 0;
  margin-bottom: 4px;
}

.card-6__bottom-container h3 {
  margin: 3px 0;
  font-size: 16px;
}

.card-6__bottom-container p {
  margin: 0;
  font-size: 12px;}

.card-6_star-container img {
  height: 13px;
  border-top: 0px;
}
/*most popular*/
.popular_card-container {
  background:#F2F2F2;
  width: 420px;
  height: 100%;
  padding: 30px;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-left: 30px;
}
.popular_card-title_container {
  display: flex;
}
.popular-symbol-container i {
  color: #9499a1;
  margin-left: 150px;
}
.card-21__main-wrapper {
  background: #ffffff;
 display: flex;
 border-radius: 18px;
 width: 350px;
 height: 130px;
 padding: 5px 5px 5px 5px;
 margin-top: 20px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 }
 
 .card-21__image-container img {
   justify-content: center;
   width: 150px;
   height: 100%;
   border-radius: 18px 0 0 18px;
   margin-right: 20px;
 }
 .card-21__side-container h3 {
   font-size: 16px;
 }
 .card-21__side-container p {
   font-size: 12px;
 }
 .card-21_star-container img {
   height: 13px;
   margin-top: 20px;
 }
  .card-22__main-wrapper {
    background: #ffffff;
   display: flex;
   border-radius: 18px;
   width: 350px;
   height: 130px;
   padding: 5px 5px 5px 5px;
   margin-top: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   }
   .card-22__image-container img {
     justify-content: center;
     width: 150px;
     height: 100%;
     border-radius: 18px 0 0 18px;
     margin-right: 20px;
   }
   .card-22__side-container h3 {
     font-size: 16px;
   }
   .card-22__side-container p {
     font-size: 12px;
   }
   .card-22_star-container img {
     height: 13px;
     margin-top: 5px;
   }
   .card-23__main-wrapper {
    background: #ffffff;
   display: flex;
   border-radius: 18px;
   width: 350px;
   height: 130px;
   padding: 5px 5px 5px 5px;
   margin-top: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   }
   
   .card-23__image-container img {
     justify-content: center;
     width: 150px;
     height: 100%;
     border-radius: 18px 0 0 18px;
     margin-right: 20px;
   }
   .card-23__side-container h3 {
     font-size: 16px;
   }
   .card-23__side-container p {
     font-size: 12px;
   }
   .card-23_star-container img {
     height: 13px;
     margin-top: 20px;

   }

 /*activities */

.activities-container {
  display: flex;

  width: 100%;
  height: 100%;

 }

.card-11__main-wrapper {
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 440px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  
.card-11__image-container img {
  justify-content: center;
  width: 100%;
  height: 390px;
  border-radius: 18px 18px 0 0;
  margin-top: 0px;
}
.card-11__bottom-container h3 {
  padding: 8px;
  font-size: 16px;
  margin-left: 15px;
}
.activities_twin-container {
  width: 310px;
  height: 100%;
 }
.card-12__main-wrapper {
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  
.card-12__image-container img {
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 18px 18px 0 0;
}
.card-12__bottom-container h3 {
  padding: 8px;
  font-size: 16px;
  margin-left: 15px;
}
.card-13__main-wrapper {
  background-color: #ffffff;
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 100%;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  
.card-13__image-container img {
  justify-content: center;
  width: 100%;
  height:150px;
  border-radius: 18px 18px 0 0;
}
.card-13__bottom-container h3 {
  padding: 8px;
  font-size: 16px;
  margin-left: 15px;
}
.card-14__main-wrapper {
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 440px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
.card-14__image-container img {
  justify-content: center;
  width: 280px;
  height: 390px;
  border-radius: 18px 18px 0 0;
}
.card-14__bottom-container h3 {
  font-size: 16px;
  margin-left: 15px;
}

.card-15__main-wrapper {
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 100%;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  
.card-15__image-container img {
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 18px 18px 0 0;
}
.card-15__bottom-container h3 {
  padding: 8px;
  font-size: 16px;
  margin-left: 15px;
}
.card-16__main-wrapper {
  justify-content: center;
  border-radius: 18px;
  width: 280px;
  height: 100%;
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
  
.card-16__image-container img {
  justify-content: center;
  width: 100%;
  height:150px;
  border-radius: 18px 18px 0 0;
}
.card-16__bottom-container h3 {
  padding: 8px;
  font-size: 16px;
  margin-left: 15px;
}

/*footer container*/

.footer_container {
  display: flex;
  flex-direction: row;
  background: #F2F2F2;
 margin-left: 0mm;
  height: 100%;
  margin-top: 20px;
 }
 .footer_container-left {
  width: 350px;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
 }
h3 {
  text-align: justify;
}
.footer_text-left {
  font-size: 14px;
  text-align: justify;
  line-height: 30px
}
 .footer_container-middle {
  width: 350px;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
 }
.footer_text-middle {
  font-size: 14px;
  text-align: justify;
  line-height: 30px
}
.footer_container-right {
  width: 350px;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
 }
.footer_text-right {
  font-size: 14px; 
  text-align: justify;
  line-height: 30px
}
@media (min-width: 375px) and (max-width: 812px) {
  .container { 
    flex-direction: column;
    width: fit-content;
    margin: 0;
  }
  .search-container {
    width: 350px;
  }
  .main-page-wrapper {
    flex-direction: column-reverse;
    width: 375px;
  }
  .popular_card-container {
    width: 300px;
    margin:30px 0 30px 0;
  }
  .popular_card-title_container h1 {
    width: fit-content
  }
  .card-21__main-wrapper {
    width: fit-content;
  }
  .card-22__main-wrapper {
    width: fit-content;
  }
  .card-23__main-wrapper {
    width: fit-content;
  }
  .left_accommodations-container__cards-container {
    flex-direction: column;
    width: 300px;
  }
  .accommodations-container {
    width: 375px;
    padding: none;
    margin: 0 0 30px 0;
    background: none;
  }
  .activities-container {
    flex-direction: column;
    width: 100%;
  }
  .activities_twin-container {
    flex-direction: column;
    width: fit-content;
  }
  .card-11__main-wrapper {
    width: 300px;
  }
  .card-12__main-wrapper {
    margin-top: 30px;
    width: 300px;
  }
  .card-13__main-wrapper {
    width: 300px;
  }
  .card-15__main-wrapper {
    margin-top: 30px;
  }
  .card-14__main-wrapper {
    margin-top: 10px;
    width: 300px;
  }
  .card-14__image-container img {
    width: 300px;
  }
  .footer_container {
    flex-direction: column;
  }
  .filter-tag_container {
  flex-direction: column;
  height: fit-content;
  }
  .tag-1and2-display {
    flex-direction: row;
  }
  .title-container {
    flex-direction: column;
    margin-top: 0%;
    width: 300px;
  }
  .fancy-border {
    width: 100%;
    border-bottom: 3px solid;
    border-image:   linear-gradient(to right,#0065FC 50%, #d3d3d3 50%) 2;
    margin: 0;
  }
  .accommodations-link-container {
   margin-right: 20px;
   margin: left 0;
  }
  .title-image-container {
    width: fit-content;
  }
  .info-container {
    width: 350px;
    }
    .info-text-container br {
      content: ' ';
    }
    .image-info-container {
      margin-left: none;
    }
  .sign-up {
    position:absolute;
    margin-left: 270px;
  }
  .tag3_main-wrapper {
    position: absolute;
    margin-left: 200px;
    margin-top: 45px;
  }
}